# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Environment variables
.env

# Data & Uploads
backend/data/uploads/*
!backend/data/uploads/.gitkeep
data/*.db
data/uploads/*

# Node / React Frontend
frontend/node_modules/
frontend/dist/
frontend/.cache/

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
